.contact-us {
  background: url(../images/footer-bg.jpg);
  height: 100%;

  &__title {
    color: white;
    padding-bottom: 100px;
    padding-top: 128px;
    text-align: center;
   
  }

  &__title-text {
    display: inline-block;
    margin-top: 50px;
    width: 640px;

    &+& {
      margin-top: 50px;
    }
  }

  &__main {
    color: white;
    display: flex;
    justify-content: space-between;
  }

  &__marker-marker {
    font-size: 6.5rem;
    text-align: center;

    & i { 
      background-color: #3949ab;
      border-radius: 50%;
      padding: 25px 45px;
    }
  }

  &__info {
    margin-top: 10px;
    text-align: center;
    white-space: pre-line;
  }

  &__text {
    color: #fff;
    font-size: 1.8rem;

    &+& {
     
      margin-top: -10px;
    }
  }

  &__input-name {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    width: 49%;
  }

  &__input-email {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    width: 49%;
  }

  &__input-textarea {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0 320px 10px;
    width: 100%;
  }

  &__send {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-bottom: 120px;
    position: relative;
    z-index: 99;
  }
}

input {
  font-size: 1.5rem;
}

form+form {
  margin-top: 20px;
}
