.header {
  &__logo {
    
    margin: 10px;
    padding: 5px;
  }

  &__icon img {
    height: 100px;
    width: auto;
  }

  &__nav {
    margin-bottom: 50px;
    margin-top: 50px;
   

    & i {
      margin-left: 23px;
    }
  }

  &__nav-title {
    
    background:
      linear-gradient(to bottom, #ff9800 0%,
      #ff9800 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: rgb(0, 0, 0);
    padding: 3px 2px;
    text-decoration: none;
    transition: background-size 0.2s;

    &:hover {
      background-size: 4px 50px !important;
      color: white;
      opacity: 0.9;
      
    } 

    &+& {
      margin-left: 30px;
     
    }
  }
}


.taksa-logo-container {
  border-bottom: 3px solid #ff9800;
  cursor: pointer;
  margin: 6px 0;
  padding: 6px;
  position: relative;
  width: 120px;

  &__hidden {
    display: none;
    opacity: 1;
    
  }

  &:hover .taksa-logo-container__visible {
    display: none;
    opacity: 0;  
  }

  &:hover .taksa-logo-container__hidden {
    display: block;
    // src: url(/images/transfer.png);
    opacity: 1;
    
  }
  
} 
