.our-services {
  background-color: #e4fdf9;
  margin-bottom: 126px;
  padding-bottom: 126px;

  &__title {
    margin-bottom: 111px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 174px;
    text-align: center;
    width: 50%;
  }

  &__wrapper {
    display: flex;
    height: 438px;
    justify-content: space-around;
    position: relative;
    width: 100%;

    &+& {
      margin-top: 35px;
    }
  }

  &__card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(black, 0.5);
    cursor: pointer;
    display: flex;
    height: 100%;
    height: 438px;
    justify-content: center;
    margin-bottom: 500px;
    object-fit: none;
    overflow: hidden;
    position: relative;
    transition: 0.4s ease-out;
    
    &::before {
      background: rgba(#00897b, 0.6);
      border-radius: 15px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: 0.5s;
      width: 100%;
      z-index: 2;
    }

    &:hover {
      &::before {
        opacity: 1;
      }					
    }

    &:hover .our-services__info {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover .our-services__card-img {
      transform: scale(1.2);
     
    }
  }
		
		

  &__card-img {
    height: 100%;
    max-width: none;
    transition: all 0.3s ease-in;
  }

  &__info {
    color: white;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateY(30px);
    transition: 0.5s;
    width: 85%;
    z-index: 3;
  }

  &__span {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 26px;
    margin-top: 26px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__btn {
    margin: 35px 0;

    &+& {
      margin-bottom: 126px;
    }
  }
}

