

@mixin generate-font-face($font-familes, $font-weight: 'normal', $font-style: 'normal') {
  @each $ff, $urls in $font-familes {
    @font-face {
      font-display: swap;
      font-family: $ff;
      font-style: $font-style;
      font-weight: $font-weight;

      @each $format, $url in $urls {
        src: url($url) format($format);
      }
    }
  }   
}


