// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$brain-white-name: 'brain-white';
$brain-white-x: 0px;
$brain-white-y: 835px;
$brain-white-offset-x: 0px;
$brain-white-offset-y: -835px;
$brain-white-width: 70px;
$brain-white-height: 60px;
$brain-white-total-width: 980px;
$brain-white-total-height: 962px;
$brain-white-image: '../images/sprite.png';
$brain-white: (0px, 835px, 0px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'brain-white', );
$brain-name: 'brain';
$brain-x: 75px;
$brain-y: 835px;
$brain-offset-x: -75px;
$brain-offset-y: -835px;
$brain-width: 70px;
$brain-height: 60px;
$brain-total-width: 980px;
$brain-total-height: 962px;
$brain-image: '../images/sprite.png';
$brain: (75px, 835px, -75px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'brain', );
$phone-black-name: 'phone-black';
$phone-black-x: 0px;
$phone-black-y: 900px;
$phone-black-offset-x: 0px;
$phone-black-offset-y: -900px;
$phone-black-width: 56px;
$phone-black-height: 62px;
$phone-black-total-width: 980px;
$phone-black-total-height: 962px;
$phone-black-image: '../images/sprite.png';
$phone-black: (0px, 900px, 0px, -900px, 56px, 62px, 980px, 962px, '../images/sprite.png', 'phone-black', );
$phone-white-name: 'phone-white';
$phone-white-x: 61px;
$phone-white-y: 900px;
$phone-white-offset-x: -61px;
$phone-white-offset-y: -900px;
$phone-white-width: 56px;
$phone-white-height: 62px;
$phone-white-total-width: 980px;
$phone-white-total-height: 962px;
$phone-white-image: '../images/sprite.png';
$phone-white: (61px, 900px, -61px, -900px, 56px, 62px, 980px, 962px, '../images/sprite.png', 'phone-white', );
$taksa-logo-name: 'taksa-logo';
$taksa-logo-x: 0px;
$taksa-logo-y: 0px;
$taksa-logo-offset-x: 0px;
$taksa-logo-offset-y: 0px;
$taksa-logo-width: 980px;
$taksa-logo-height: 830px;
$taksa-logo-total-width: 980px;
$taksa-logo-total-height: 962px;
$taksa-logo-image: '../images/sprite.png';
$taksa-logo: (0px, 0px, 0px, 0px, 980px, 830px, 980px, 962px, '../images/sprite.png', 'taksa-logo', );
$transfer-white-name: 'transfer-white';
$transfer-white-x: 150px;
$transfer-white-y: 835px;
$transfer-white-offset-x: -150px;
$transfer-white-offset-y: -835px;
$transfer-white-width: 70px;
$transfer-white-height: 60px;
$transfer-white-total-width: 980px;
$transfer-white-total-height: 962px;
$transfer-white-image: '../images/sprite.png';
$transfer-white: (150px, 835px, -150px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'transfer-white', );
$transfer-name: 'transfer';
$transfer-x: 225px;
$transfer-y: 835px;
$transfer-offset-x: -225px;
$transfer-offset-y: -835px;
$transfer-width: 70px;
$transfer-height: 60px;
$transfer-total-width: 980px;
$transfer-total-height: 962px;
$transfer-image: '../images/sprite.png';
$transfer: (225px, 835px, -225px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'transfer', );
$web-planet-name: 'web-planet';
$web-planet-x: 300px;
$web-planet-y: 835px;
$web-planet-offset-x: -300px;
$web-planet-offset-y: -835px;
$web-planet-width: 70px;
$web-planet-height: 60px;
$web-planet-total-width: 980px;
$web-planet-total-height: 962px;
$web-planet-image: '../images/sprite.png';
$web-planet: (300px, 835px, -300px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'web-planet', );
$web-white-name: 'web-white';
$web-white-x: 375px;
$web-white-y: 835px;
$web-white-offset-x: -375px;
$web-white-offset-y: -835px;
$web-white-width: 70px;
$web-white-height: 60px;
$web-white-total-width: 980px;
$web-white-total-height: 962px;
$web-white-image: '../images/sprite.png';
$web-white: (375px, 835px, -375px, -835px, 70px, 60px, 980px, 962px, '../images/sprite.png', 'web-white', );
$spritesheet-width: 980px;
$spritesheet-height: 962px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($brain-white, $brain, $phone-black, $phone-white, $taksa-logo, $transfer-white, $transfer, $web-planet, $web-white, );
$spritesheet: (980px, 962px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
