* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 10px;
  letter-spacing: 1.5px;
}

body {
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
  
}


ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  resize: vertical;
}

