$main-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto',  sans-serif;

$text-black: #000;

$hover-btn: #00897b;


$body-font-color: $text-black;
$body-font: $main-font;
$body-fz: 10px;
$body-fw: 400;
$body-lh: 2;








// $fonts: (
//   'norwesterregular': (
//     'wolf2': '../fonts/norwester-webfont.woff2',
//     'wolf': '../fonts/norwester-webfont.woff'
//   )
// );

// //textcolors
// $text-gray: #b2b2b2;
// $text-blue: #435566;
// $text-green: #ace600;
// $text-light-blue: #869db2;
// $bg-blue: #658099;
// $blockquote_bg: $bg-blue;
// $bg-white: #ffff;


// //common
// $main-font: 'lato', sans-serif;
// $secondary-font: 'Staatliches', sans-serif;

// $html-font-size: 10px;
// $body-font-color: $text-gray;
// $body-font: $main-font;
// $body-fz: 1rem;
// $body-fw: 400;
// $body-lh: 1;

// //grid

// $container-width: 1200px;
// $grid-columns: 12;
// $grid-gutter-width: 30px;

// $grid-breakpoints: (
//   xl: 1119px,
//   lg: 991px,
//   md: 767px,
//   sm: 575px
// );

// $container-max-width: (
//   xl: 960px,
//   lg: 720px,
//   md: 540px,
//   sm: 100%
// );

// $displays: none, inline-block, block, flex;

// //titles 
// $title-h1-fz: 7rem;
// $title-h2-fz: 6rem;
// $title-h3-fz: 5rem;
// $title-h4-fz: 3rem;
// $title-h5-fz: 2.5rem;
// $title-h6-fz: 2.2rem;

// $title-ff: 'Staatliches', sans-serif;
// $title-color: $text-blue;

// $title-sizes: (
//   h1: $title-h1-fz,
//   h2: $title-h2-fz,
//   h3: $title-h3-fz,
//   h4: $title-h4-fz,
//   h5: $title-h5-fz,
//   h6: $title-h6-fz
// );

// //articles

// $article-ff: $main-font;
// $article-color: $text-gray;

// $article-sm-fz: 2.6rem;
// $article-md-fz: 2.8rem;
// $article-lg-fz: 3rem;

// $article-sizes: (
//   sm: $article-sm-fz,
//   md: $article-md-fz,
//   lg: $article-lg-fz
// );
// $text-white: #ffff;


// $blockquote-text-color: $text-white;
// $blockquote-author-color: #cfdae5;
// $blockquote-text-ff: $main-font;
// $blockquote-author-ff: $secondary-font;

// $blockquote-text-fz-lg: 2.5rem;
// $blockquote-author-fz-lg: 1.8rem;
// $blockquote-text-fz-sm: 1.8rem;
// $blockquote-author-fz-sm: 1.5rem;

// $footer-subscribe-bg: #304152;


// $btn-ff: $secondary-font;
// $btn-fz-lg: 2.5rem;
// $btn-fz-sm: 1.8rem;
// $btn-default-bg: #658099;
// $btn-default-bg-hover: $text-green;
// $btn-primary-bg-hover: #7ca600;
// $btn-default-text-color: #ffff;
// $btn-secondary-bg-color: #435566;
// $btn-secondary-text-color: $text-white;
// $btn-primary-bg: $text-green;
// $btn-primary-text-color: $text-white;
// $btn-disabled-bg: $text-gray;
// $btn-disabled-text-color: $text-white;

// //form controls
// $form-control-ff: $main-font;
// $form-control-fs: 1.6rem;
// $form-control-height: 46px;
// $form-control-text-color: #a7adb4;
// $form-control-active-text-color: #666;
// $form-control-border-color: #dfe2e6;
// $form-control-active-border-color: #87aacc;
// $form-control-bg-color: #fafafa;
// $form-control-active-bg-color: #fff;

// $form-control-error-border-color: #f66;
// $form-control-error-bg-color: #ffeded;

// $form-control-success-border-color: #87d285;
// $form-control-success-bg-color: #f3faf3;

// $form-control-select-option-bg-color: #93b0cc;
// $form-control-select-option-bg-hover-color: #9ebddb;

// $ghost-bg-color: #232f3b;

// //selectric 

// $selectric-main-color: #ddd !default;                                              // Color used in border
// $selectric-secondary-color: #bbb !default;                                              // Color used in button
// $selectric-text-color: #444 !default;                                              // Color used in label
// $selectric-bg-color: #f8f8f8 !default;                                           // Background color
// $selectric-btn-bg-color: #f8f8f8 !default;                                           // Button background color
// $selectric-height: 40px !default;                                              // Outer height
// $selectric-spacing: 10px !default;                                              // Label left padding
// $selectric-border-width: 2px !default;                                               // Outer border width
// $selectric-border-radius: 0 !default;                                               // Border radius
// $selectric-inner-height: $selectric-height - ($selectric-border-width * 2) !default; // Inner height
// $selectric-font-size: 12px !default;                                              // Font size


// //checkbox 

// $border-color-checkbox: #dfe2e6;
// $border-bg-checkbox: #fafafa;
