@import 'variables';
@import 'mixins/index';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-utilities';

// Libs
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

// Our components
@import 'reset';
@import 'libs/index';
// @import 'mixins/index';
// @import 'templates/index';
// @import 'common/index';
@import 'components/index';
// @import 'grid/index';
// @import 'layout/index';
@import 'sections/index';

// // Libs
// @import 'libs/index';

